*{font-family: Noto Sans Thai;}
html{
  height: 100%;
}
header{
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.nav-links{
  color: white ; 
}
a:link{
    text-decoration: none;
}
.nav-bar a:visited  {
  color: white;
}
.nav-link{
  color: white !important;
}
.nav-link:hover{
  background-color: #333f6d;
}


.innerblog a {
  color: black;
}
.innerblog a:visited {
  color: black;
}
.innerblog a:visited h5 {
  color: black;
}

.logo-ms{
  height: 5rem;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav-bar{
    background-color:#273053;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 6rem;
    padding: 10px 0;
   
}




.container{
margin: 50px 0;
}



.blog-wrapper img{
  width: 100%;
 
}

.slide-wrapper{
  margin-bottom: 50px;
}

.carosal-item{
  height: 500px;
}
.carousel-img{
  display: block;
  width: 100%;
  height: auto;
}

.innerblog{
  height: 250px;
  margin-bottom: 100px;
}

.blogitem{
  height: 500px;
  margin-right: 20px;
  width: 100%;

}

.blog-side{
  height: 500px;

}

.sideblog-wrapper{
  height: 10px;
}

.sideblogitem{
  height: 250px;
  margin-right: 20px;
  width: 100%;
}

.card-wrapper{
  justify-content: center;
  display: flex;
  margin: 20px;
}
.card-item{
  margin: 20px;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
@media screen and (max-width: 567px){
  .card:not(:first-child){
    display: none;
  }
}


.img-wrapper{
  height: auto;
}


.card-sec{
  height: 450px;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

footer{
  margin-top: 40px;
  border-top: 1px solid black;
  height: 100px;
  background-color: #273053;
  color: white;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
footer a {
  margin-left: 10px;
}

.social-logo{
  height: 16px;
  width: 16px;
  filter: invert(100%);
}
.logo-footer{
  height: 90px;
}


@media (max-width: 575px) { 
  .col-sm-12{
    width: 100%;
  }
 }

   /* moblienav */
   .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
 
    border-radius: 10px;
  }
  
  .topnav {
  
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white; 
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active-top {
    background-color: #273053;
    color: white;
  }
  @media (min-width: 321px){
    .topnav{
      display: none;
    }
  }

  /*  */
  .chat{
    margin-bottom: 50px;
  }