html{
  height: 100%;
}
body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  header {
    width: 100%;
  }
  
  /* Fixed sidenav, full height */
  .sidenav {
    height: 50%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    margin: 100px 0 ;
    text-decoration: none;
  }
  .sidenav li{
    list-style: none;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
 
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    border-bottom: 1px solid black;
  }
  .main-contain{
    flex: 1 0 auto;
  }
  /* Main content */
  /* .main { */
     /* Same as the width of the sidenav */
     /* Increased text to enable scrolling */
    /* padding: 0px 10px;
    display: flex;
    justify-content: center;
    margin: 20px;
  } */
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: rgb(146, 151, 146);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */
  .card{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .card-wrapper{
    margin-left: 50px;
 
  }
  .card-item{
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .sidenav{
      display: none;
    }
    .card-wrapper{
      margin: auto;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 320px) {
    .nav a{
      display: none;
    }

  }

  @media (max-width: 768px) {
    /* .nav-bar{
      display: none;
    } */
  }
.top-cat{
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.top-cat li{
  margin: 0 10px;
  list-style: none;
}

.top-cat li a:hover{
  border-bottom: 0.01rem solid black;
}

.top-cat li a {
  color: black;
  
}


@media (min-width: 769px){
  .top-cat{
    display: none;
  }

}





  *{font-family: Noto Sans Thai;}



.nav-link{
  color: white;
}
a:link{
    text-decoration: none;
}
.nav-bar a:visited  {
  color: white;
}
.nav-link:hover{
  background-color: #333f6d;
}

.innerblog a:visited {
  color: black;
}
.innerblog a:visited h5 {
  color: black;
}

.logo-ms{
  height: 5rem;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav{
  background-color:#273053;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  padding: 10px 0;
  height: 6rem;
  padding: 10px 0;
  flex: 0 0 auto;
  

}





footer{
    margin: 0 10px;
    border-top: 1px solid black;
    height: 100px;
    background-color: #273053;
    color: white;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  footer a {
    margin-left: 10px;
  }
  footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  
  .social-logo{
    height: 16px;
    width: 16px;
    filter: invert(100%);
  }
  .logo-footer{
    height: 90px;
  }

  .container h2{
    margin-top: 20px;
    text-align: center;
  }

 





  /* moblienav */
  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
  
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #273053;
    color: white;
  }
  @media (min-width: 321px){
    .topnav{
      display: none;
    }
  }

  /*  */

  .card {
    margin: 0 20px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .inner-card{
    margin: 20px 0;
  }